* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('https://img.freepik.com/premium-photo/vibrant-playful-abstract-background-featuring-various-bright-colors-geometric-shapes_14117-600562.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn {
  padding: 10px 30px;
  background-color: rgb(7, 7, 62);
  color: antiquewhite;
  border: none;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: auto;
}

#container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#time {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  background-color: rgb(46, 5, 85);
  padding: 4px 8px;
  color: white;
  z-index: 10;
  border-radius: 0.5rem;
}

.allBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  width: 60%;
  height: 80%;
 margin: auto;
  margin-top: 3rem;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  border-radius: 10px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.flip-card-front img,
.flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card-back {
  background-color: dodgerblue;
  transform: rotateY(180deg);
}

.back-flip {
  transform: rotateY(180deg);
}

#result {
  display: none;
  /* color: white; */
  text-align: center;
  padding: 1rem;
  margin-top: 10rem;
}

#result h1 {
  font-size: 2.5rem;
  color: rgb(4, 4, 65);
  margin: 2rem 0;
}
